@import "~quill/dist/quill.snow.css";
.App {
  background-color: rgb(207, 207, 207);
  color: rgb(0, 0, 0);

  .NavBar {
    background-color: rgb(20, 20, 20);
    position: fixed;
    width: 100%;
    padding: 0.25em;
    border-bottom: 1px solid rgb(100, 100, 100);
    box-shadow: 0 0 5px rgb(100, 100, 100);
    nav {
      display: grid;
      grid-template-areas: "Logo Search Buttons";
      grid-template-columns: 1fr 1fr 1fr;
      width: 100%;
      margin: 0.25em;

      .NavLogo {
        grid-area: Logo;
        margin-left: auto;
        margin-right: auto;
        margin-top: auto;
        margin-bottom: auto;
        width: 100%;
        display: flex;
        a {
          text-decoration: none;
          color: rgb(207, 207, 207);
          font-size: 1.5em;
        }
        a:hover {
          color: rgb(241, 241, 241);
          transition: ease-in 0.3s;
        }
      }
      .SearchBar {
        grid-area: Search;
        margin-left: auto;
        margin-right: auto;
        margin-top: auto;
        margin-bottom: auto;
        width: 100%;
        display: flex;
        justify-content: space-around;
        div {
          form {
            height: 50%;
            select,
            input {
              background-color: rgb(92, 92, 92);
              color: rgb(201, 201, 201);
              border: 0;
              border-right: 1px solid black;
              transition: ease-in 0.1s;
              width: 10em;
            }
            input::placeholder {
              text-indent: 5px;
              color: rgb(199, 199, 199);
            }
            select:focus,
            input:focus {
              outline: none;
              background-color: rgb(241, 241, 241);
              color: rgb(47, 47, 47);
              transition: ease-in 0.1s;
            }
            input:hover,
            select:hover {
              cursor: pointer;
              background-color: rgb(241, 241, 241);
              color: rgb(47, 47, 47);
              transition: ease-in 0.1s;
            }
            a {
              input {
                width: 6em;
                border: none;
              }
              :hover {
                cursor: pointer;
              }
            }
          }
          form input:not(:last-child) {
            border-top-left-radius: 5px;
            border-bottom-left-radius: 5px;
          }
          form input:last-child {
            border-top-right-radius: 5px;
            border-bottom-right-radius: 5px;
          }
        }
      }
      .NavButtons {
        grid-area: Buttons;
        margin-left: auto;
        margin-right: auto;
        margin-top: auto;
        margin-bottom: auto;
        width: 100%;
        display: flex;
        justify-content: end;
        div {
          margin-left: 0.5em;
          margin-right: 2em;
          button {
            width: 8em;
            height: 2em;
            color: rgb(207, 207, 207);
            background-color: rgb(30, 30, 30);
            border: 1px solid rgb(75, 75, 75);
            border-radius: 10px;
            text-align: center;
            font-size: 0.9em;
            transition: ease-in 0.1s;
          }
          button:hover {
            cursor: pointer;
            border: 1px solid rgb(120, 120, 120);
            color: rgb(241, 241, 241);
            box-shadow: 0 0 5px rgb(120, 120, 120);
            transition: ease-in 0.3s;
          }
          a {
            :hover {
              cursor: pointer;
              border: 1px solid rgb(120, 120, 120);
              color: rgb(241, 241, 241);
              box-shadow: 0 0 5px rgb(120, 120, 120);
              transition: ease-in 0.3s;
            }
            button {
              width: 8em;
              height: 2em;
              color: rgb(207, 207, 207);
              background-color: rgb(30, 30, 30);
              border: 1px solid rgb(75, 75, 75);
              border-radius: 10px;
              text-align: center;
              font-size: 0.9em;
              transition: ease-in 0.1s;
            }
          }
        }
      }
    }
  }
  .Body {
    padding-top: 3em;
    display: grid;
    grid-template-areas: "LeftPanel Middle RightPanel";
    grid-template-columns: 0.5fr 1.5fr 0.5fr;
    background-color: rgb(20, 20, 20);

    .LeftPanel {
      grid-area: LeftPanel;
      background-color: rgb(20, 20, 20);
      color: rgb(207, 207, 207);
      width: 20em;
      padding-right: 2em;
      display: flex;
      flex-direction: column;
      .OurTopUsers {
        padding-top: 1em;
        text-align: center;
      }
      ul {
        padding-right: 0.5em;
        li {
          font-size: 0.9em;
          list-style: none;
          padding-bottom: 2.5em;
          text-align: center;
          .TopUser {
            border-radius: 10px;
            box-shadow: 0 0 7px rgb(120, 120, 120);
            padding-bottom: 0.5em;
            transition: all 0.3s ease-in;
            .TopUserImgName {
              a {
                display: flex;
                justify-content: space-around;
                text-decoration: none;
                color: rgb(207, 207, 207);
                margin-bottom: 1em;
                //border-radius: 10px;
                width: 100%;
                border-bottom: 1px solid rgb(81, 81, 81);
                div {
                  padding: 1em;
                  margin: auto;
                  height: 50%;
                  //transition: color 0.3s ease-in;
                }
                img {
                  height: 4em;
                  width: 4em;
                  border-radius: 10px;
                }
              }
            }
            div {
              transition: color 0.3s ease-in;
            }
          }
          .TopUser:hover {
            box-shadow: 0 0 9px rgb(185, 185, 185);
            div {
              color: rgb(241, 241, 241);
            }
          }
        }
      }
    }
    .author-info {
      border-bottom: 1px solid rgb(120, 120, 120);
    }
    .UserPageTable {
      color: rgb(238, 238, 238);
      grid-area: Middle;
      width: 100%;
      padding-left: 5em;
      padding-right: 5em;
      padding-top: 2em;
      background-color: rgb(30, 30, 30);
      .UserPostList {
        list-style: none;
        .UserPostListItem {
          box-shadow: 0 0 7px rgb(120, 120, 120);
          margin: 1em;
          border-radius: 10px;
          transition: all 0.2s ease-in;
        }
        a {
          padding: 1.5em;
          text-decoration: none;
          color: rgb(238, 238, 238);
          display: flex;
          flex-direction: row;
          justify-content: space-between;

          .UserPostListTitle {
            font-size: 1.5em;
          }
          .UserPostListCategory {
            font-size: 1.5em;
          }
        }
        .UserPostListItem:hover {
          box-shadow: 0 0 10px rgb(200, 200, 200);
          color: rgb(244, 244, 244);
          background-color: rgb(44, 44, 44);
        }
      }
      .AccountPageImage {
        display: flex;
        justify-content: center;
        img {
          max-width: 30em;
          border-radius: 10px;
        }
      }
      .AccountPageTableBody {
        margin-top: 1em;
        font-size: 1.5em;
        display: flex;
        justify-content: center;
        table {
          tbody {
            tr {
              display: grid;
              padding: 0.5em;
              grid-template-columns: 1fr 1fr;
              border-radius: 10px;
              box-shadow: 0 0 7px rgb(120, 120, 120);
              margin-bottom: 0.75em;
              th {
                display: flex;
                flex-direction: row;
              }
              td {
                display: flex;
                justify-content: end;
              }
            }
          }
        }
      }
    }
    .SearchResultsPage {
      grid-area: Middle;
      width: 100%;
      padding-left: 5em;
      padding-right: 5em;
      padding-top: 2em;
      background-color: rgb(30, 30, 30);
      ul {
        list-style: none;
      }
      select {
        border-radius: 10px;
        margin-bottom: 1em;
        margin-top: 1em;
        background-color: rgb(92, 92, 92);
        color: rgb(201, 201, 201);
        border: 0;
        font-size: 1em;
        height: 1.5em;
        transition: ease-in 0.1s;
        width: 10em;
        align-self: center;
        text-indent: 1em;
      }
      select:hover {
        cursor: pointer;
        background-color: rgb(241, 241, 241);
        color: rgb(47, 47, 47);
        transition: ease-in 0.1s;
      }
      select:focus {
        outline: none;
        background-color: rgb(241, 241, 241);
        color: rgb(47, 47, 47);
        transition: ease-in 0.1s;
      }
    }
    .PostPage {
      grid-area: Middle;
      width: 100%;
      padding-left: 5em;
      padding-right: 5em;
      padding-top: 2em;
      background-color: rgb(30, 30, 30);
      .PostPageEditComment {
        form {
          display: flex;
          flex-direction: column;
          justify-content: center;
          #editor-container {
            align-self: center;
            width: 75%;
          }
          .CancelCommentEditPage {
            width: 50%;
            height: 1.5em;
            align-self: center;
            margin-bottom: 1em;
            margin-top: 1em;
            font-weight: bold;
            font-size: 2em;
            background-color: rgb(108, 0, 0);
            color: rgb(201, 201, 201);
            border: 0;
            border-right: 1px solid black;
            transition: ease-in 0.1s;
            border-radius: 10px;
          }
          .CancelCommentEditPage:hover {
            cursor: pointer;
            background-color: rgb(181, 0, 0);
            color: rgb(229, 229, 229);
          }
          .CancelPostEditPage {
            width: 50%;
            height: 1.5em;
            align-self: center;
            margin-bottom: 1em;
            margin-top: 1em;
            font-weight: bold;
            font-size: 2em;
            background-color: rgb(108, 0, 0);
            color: rgb(201, 201, 201);
            border: 0;
            border-right: 1px solid black;
            transition: ease-in 0.1s;
            border-radius: 10px;
          }
          .CancelPostEditPage:hover {
            cursor: pointer;
            background-color: rgb(181, 0, 0);
            color: rgb(229, 229, 229);
          }
          input {
            width: 50%;
            height: 1.5em;
            align-self: center;
            margin-bottom: 1em;
            margin-top: 1em;
            font-weight: bold;
            font-size: 2em;
          }
          input {
            background-color: rgb(92, 92, 92);
            color: rgb(201, 201, 201);
            border: 0;
            border-right: 1px solid black;
            transition: ease-in 0.1s;
            border-radius: 10px;
          }
          input:hover {
            cursor: pointer;
            background-color: rgb(241, 241, 241);
            color: rgb(47, 47, 47);
            transition: ease-in 0.1s;
          }
        }
      }
      .CommentCreatorPostPage {
        text-align: center;
        form {
          display: flex;
          flex-direction: column;
          justify-content: center;
          #editor-container {
            align-self: center;
            width: 75%;
          }
          .CancelPostEditPage {
            width: 50%;
            height: 1.5em;
            align-self: center;
            margin-bottom: 1em;
            margin-top: 1em;
            font-weight: bold;
            font-size: 2em;
            background-color: rgb(108, 0, 0);
            color: rgb(201, 201, 201);
            border: 0;
            border-right: 1px solid black;
            transition: ease-in 0.1s;
            border-radius: 10px;
          }
          .CancelPostEditPage:hover {
            cursor: pointer;
            background-color: rgb(181, 0, 0);
            color: rgb(229, 229, 229);
          }
          input {
            width: 50%;
            height: 1.5em;
            align-self: center;
            margin-bottom: 1em;
            margin-top: 1em;
            font-weight: bold;
            font-size: 2em;
          }
          input {
            background-color: rgb(92, 92, 92);
            color: rgb(201, 201, 201);
            border: 0;
            border-right: 1px solid black;
            transition: ease-in 0.1s;
            border-radius: 10px;
          }
          input:hover {
            cursor: pointer;
            background-color: rgb(241, 241, 241);
            color: rgb(47, 47, 47);
            transition: ease-in 0.1s;
          }
        }
      }
      .PostPageCommentListItem {
        padding: 1em;
        border-radius: 10px;
        margin-bottom: 1.5em;
        box-shadow: 0 0 7px rgb(120, 120, 120);
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        .PostPageCommentHeader {
          width: 100%;
          padding-bottom: 1em;
          margin-bottom: 1em;
          border-bottom: 1px solid rgb(120, 120, 120);
          .PostPageCommentAuthorLink {
            display: flex;
            flex-direction: row;
            text-align: start;
            a {
              .AuthorImagePostComments {
                max-width: 5em;
              }
              .AuthorNamePostComments {
                padding-left: 2em;
                height: 50%;
                margin: auto;
              }
            }
          }
          .PostPageCommentDate {
            display: flex;
            flex-direction: column;
            text-align: end;
            div {
              height: 50%;
              margin: auto;
              font-size: 1em;
            }
            button {
              width: 9em;
              height: 2em;
              margin-top: 1em;
              color: rgb(207, 207, 207);
              background-color: rgb(30, 30, 30);
              border: 1px solid rgb(75, 75, 75);
              border-radius: 10px;
              text-align: center;
              font-size: 1em;
              transition: all 0.2s ease-in;
            }
            button:hover {
              background-color: rgb(241, 241, 241);
              color: rgb(29, 29, 29);
              box-shadow: 0 0 7px rgb(120, 120, 120);
              cursor: pointer;
            }
            .ReportButton {
              width: 9em;
              height: 2em;
              margin-top: 1em;
              background-color: rgb(108, 0, 0);
              color: rgb(201, 201, 201);
              border: 1px solid rgb(75, 75, 75);
              border-radius: 10px;
              text-align: center;
              font-size: 1em;
              transition: all 0.2s ease-in;
            }
            .ReportButton:hover {
              cursor: pointer;
              background-color: rgb(181, 0, 0);
              color: rgb(229, 229, 229);
            }
          }
        }
      }
      .DangerousPostPage {
        img {
          max-width: 30em;
          max-height: 30em;
        }
      }
      .PostPagePostContainer {
        padding: 1em;
        box-shadow: 0 0 7px rgb(120, 120, 120);
        border-radius: 10px;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        label {
          font-size: 2em;
        }
        form {
          #editor-container {
            align-self: center;
            width: 100%;
          }
          .CancelPostEditPage {
            width: 50%;
            height: 1.5em;
            align-self: center;
            margin-bottom: 1em;
            margin-top: 1em;
            font-weight: bold;
            font-size: 2em;
            background-color: rgb(108, 0, 0);
            color: rgb(201, 201, 201);
            border: 0;
            border-right: 1px solid black;
            transition: ease-in 0.1s;
            border-radius: 10px;
          }
          .CancelPostEditPage:hover {
            cursor: pointer;
            background-color: rgb(181, 0, 0);
            color: rgb(229, 229, 229);
          }
          input {
            width: 50%;
            height: 1.5em;
            align-self: center;
            margin-bottom: 1em;
            margin-top: 1em;
            font-weight: bold;
            font-size: 2em;
          }
          input {
            background-color: rgb(92, 92, 92);
            color: rgb(201, 201, 201);
            border: 0;
            border-right: 1px solid black;
            transition: ease-in 0.1s;
            border-radius: 10px;
          }
          input:hover {
            cursor: pointer;
            background-color: rgb(241, 241, 241);
            color: rgb(47, 47, 47);
            transition: ease-in 0.1s;
          }
        }

        .quill {
          width: 100%;
        }
        .PostPageEditPostSelect {
          display: flex;
          flex-direction: row;
          justify-content: space-between;
          select {
            border-radius: 10px;
            margin-bottom: 1em;
            margin-top: 1em;
            background-color: rgb(92, 92, 92);
            color: rgb(201, 201, 201);
            border: 0;
            font-size: 2em;
            font-weight: bold;
            height: 1.5em;
            transition: ease-in 0.1s;
            width: 10em;
            align-self: center;
          }
          select:hover {
            cursor: pointer;
            background-color: rgb(241, 241, 241);
            color: rgb(47, 47, 47);
            transition: ease-in 0.1s;
          }
          select:focus {
            outline: none;
            background-color: rgb(241, 241, 241);
            color: rgb(47, 47, 47);
            transition: ease-in 0.1s;
          }
          input {
            text-indent: 0.5em;
            width: 60%;
            height: 1.5em;
            align-self: center;
            margin-bottom: 1em;
            margin-top: 1em;
            font-weight: bold;
            font-size: 2em;
            background-color: rgb(92, 92, 92);
            color: rgb(201, 201, 201);
            border: 0;
            border-right: 1px solid black;
            transition: ease-in 0.1s;
          }
          input:hover {
            cursor: pointer;
            background-color: rgb(241, 241, 241);
            color: rgb(47, 47, 47);
            transition: ease-in 0.1s;
          }
          input:focus {
            outline: none;
            background-color: rgb(241, 241, 241);
            color: rgb(47, 47, 47);
            transition: ease-in 0.1s;
          }
        }

        #editor-container {
          align-self: center;
          width: 70em;
        }
        .ql-editor {
          overflow-wrap: break-word;
          word-wrap: break-word;
          word-break: break-word;
          height: 40em;
          font-size: 1.25em;
        }
        .ql-formats button svg {
          fill: rgb(201, 201, 201);
          color: rgb(201, 201, 201);
          background-color: rgb(201, 201, 201);
          border-radius: 2px;
        }
        select {
          color: rgb(201, 201, 201);
        }
        .ql-picker-label {
          color: rgb(201, 201, 201);
          svg {
            .ql-stroke {
              background-color: rgb(201, 201, 201);
              stroke: rgb(201, 201, 201);
            }
          }
        }
      }
      .CommentListPostPage {
        display: flex;
        flex-direction: column;
        width: 100%;
        .CommentPageButtons {
          button {
            font-size: 2em;
            margin: 0.25em;
            width: 1.5em;
            color: rgb(207, 207, 207);
            background-color: rgb(30, 30, 30);
            border: 1px solid rgb(75, 75, 75);
            border-radius: 20px;
            text-align: center;
            transition: all 0.2s ease-in;
          }
          button:hover {
            background-color: rgb(241, 241, 241);
            color: rgb(29, 29, 29);
            box-shadow: 0 0 7px rgb(120, 120, 120);
            cursor: pointer;
          }
        }
        div {
          width: 100%;
          margin: 0;
          overflow-wrap: break-word;
          word-wrap: break-word;
          word-break: break-word;
          .CommentDangerousHtml {
            img {
              max-width: 30em;
              max-height: 30em;
            }
          }
        }
      }
      .PostPageAuthor {
        height: 50%;
        margin: auto;
        margin-left: 2em;
        font-size: 2em;
      }
      .PostPagePostHeader {
        padding-bottom: 1em;
        border-bottom: 1px solid rgb(120, 120, 120);
        .ReportButton {
          width: 9em;
          height: 2.5em;
          background-color: rgb(108, 0, 0);
          color: rgb(201, 201, 201);
          border: 1px solid rgb(75, 75, 75);
          border-radius: 10px;
          text-align: center;
          font-size: 1em;
          transition: all 0.2s ease-in;
        }
        .ReportButton:hover {
          cursor: pointer;
          background-color: rgb(181, 0, 0);
          color: rgb(229, 229, 229);
        }
      }
      .PostPageDate {
        height: 50%;
        margin: auto;
        margin-left: 2em;
        font-size: 1em;
      }
      .PostPageEdit {
        display: flex;
        justify-content: end;
        button {
          width: 9em;
          height: 2.5em;
          color: rgb(207, 207, 207);
          background-color: rgb(30, 30, 30);
          border: 1px solid rgb(75, 75, 75);
          border-radius: 10px;
          text-align: center;
          font-size: 1em;
          transition: all 0.2s ease-in;
        }
        button:hover {
          background-color: rgb(241, 241, 241);
          color: rgb(29, 29, 29);
          box-shadow: 0 0 7px rgb(120, 120, 120);
          cursor: pointer;
        }
      }
      .ql-editor {
        overflow-wrap: break-word;
        word-wrap: break-word;
        word-break: break-word;
        height: 15em;
        font-size: 1.25em;
      }
      .ql-formats button svg {
        fill: rgb(201, 201, 201);
        color: rgb(201, 201, 201);
        background-color: rgb(201, 201, 201);
        border-radius: 2px;
      }
      .ql-picker-label {
        color: rgb(201, 201, 201);
        svg {
          .ql-stroke {
            background-color: rgb(201, 201, 201);
            stroke: rgb(201, 201, 201);
          }
        }
      }
    }
    .GoBackToPosts {
      grid-area: Middle;
      width: 100%;
      padding-left: 5em;
      padding-right: 5em;
      padding-top: 2em;
      background-color: rgb(30, 30, 30);
      color: rgb(201, 201, 201);
      display: flex;
      flex-direction: column;
      div {
        font-size: 4em;
        text-align: center;
      }
      button {
        align-self: center;
        margin-top: 4em;
        width: 10em;
        height: 3em;
        background-color: rgba(0, 0, 0, 0);
        border: none;
        font-size: 2em;
        color: rgb(201, 201, 201);
        transition: ease-in 0.1s;
      }
      button:hover {
        color: rgb(255, 255, 255);
        font-size: 3em;
        margin-top: 2em;
        cursor: pointer;
      }
    }
    .PostEditor {
      grid-area: Middle;
      width: 100%;
      padding-left: 5em;
      padding-right: 5em;
      padding-top: 2em;
      background-color: rgb(30, 30, 30);
      color: rgb(201, 201, 201);
      label {
        font-size: 2em;
      }
      input {
        width: 60%;
        height: 1.5em;
        align-self: center;
        margin-bottom: 1em;
        margin-top: 1em;
        font-weight: bold;
        font-size: 2em;
        border-radius: 10px;
      }
      input {
        background-color: rgb(92, 92, 92);
        color: rgb(201, 201, 201);
        border: 0;
        border-right: 1px solid black;
        transition: ease-in 0.1s;
      }
      input:hover {
        cursor: pointer;
        background-color: rgb(241, 241, 241);
        color: rgb(47, 47, 47);
        transition: ease-in 0.1s;
      }
      input:focus {
        outline: none;
        background-color: rgb(241, 241, 241);
        color: rgb(47, 47, 47);
        transition: ease-in 0.1s;
      }
      #editor-container {
        align-self: center;
        width: 70em;
      }
      .ql-editor {
        overflow-wrap: break-word;
        word-wrap: break-word;
        word-break: break-word;
        height: 40em;
        font-size: 1.25em;
      }
      .ql-formats button svg {
        fill: rgb(201, 201, 201);
        color: rgb(201, 201, 201);
        background-color: rgb(201, 201, 201);
        border-radius: 2px;
      }
      select {
        color: rgb(201, 201, 201);
      }
      .ql-picker-label {
        color: rgb(201, 201, 201);
        svg {
          .ql-stroke {
            background-color: rgb(201, 201, 201);
            stroke: rgb(201, 201, 201);
          }
        }
      }
    }
    .PostList {
      grid-area: Middle;
      width: 100%;
      padding-left: 5em;
      padding-right: 5em;
      padding-top: 2em;
      background-color: rgb(30, 30, 30);
      //color: rgb(216, 216, 216);
      select {
        background-color: rgb(92, 92, 92);
        color: rgb(201, 201, 201);
        border: 0;
        border-right: 1px solid black;
        transition: ease-in 0.1s;
        width: 10em;
      }
      select:focus {
        outline: none;
        background-color: rgb(241, 241, 241);
        color: rgb(47, 47, 47);
        transition: ease-in 0.1s;
      }
      li {
        .author-info {
          border-bottom: 1px solid rgb(81, 81, 81);
        }
      }
      .CreatePostLink {
        cursor: pointer;
        color: rgb(241, 241, 241);
        transition: all 0.1s ease-in;
        font-size: 0.9em;
        background-color: rgb(30, 30, 30);
        border-radius: 10px;
        button {
          width: 10em;
          height: 2.5em;
          color: rgb(207, 207, 207);
          background-color: rgb(30, 30, 30);
          border: 1px solid rgb(75, 75, 75);
          border-radius: 10px;
          text-align: center;
          font-size: 1em;
          transition: all 0.2s ease-in;
        }
        button:hover,
        :hover {
          background-color: rgb(241, 241, 241);
          color: rgb(29, 29, 29);
          box-shadow: 0 0 7px rgb(120, 120, 120);
          cursor: pointer;
        }
      }
    }
    .CategoryList {
      grid-area: Middle;
      width: 100%;
      padding-left: 5em;
      padding-right: 5em;
      padding-top: 2em;
      background-color: rgb(30, 30, 30);
      ul {
        margin-top: 3em;
        padding-top: 1em;
        padding-bottom: 1em;
        padding-left: 0;
        list-style: none;
        box-shadow: 0 0 7px rgb(120, 120, 120);
        border-radius: 10px;
        transition: all 0.3s ease-in;
        .CategoryHeader {
          font-size: 3em;
          text-align: center;
          color: rgb(216, 216, 216);
          margin-bottom: 1em;
          transition: all 0.3s ease-in;
        }
        li:not(:first-child) {
          box-shadow: 0 0 10px rgb(60, 60, 60);
          border-radius: 10px;
          margin-left: 2em;
          margin-right: 2em;
          margin-bottom: 2em;
          height: 5em;
          transition: all 0.2s ease-in;
          a {
            color: rgb(207, 207, 207);
            text-decoration: none;
            font-weight: 400;
            font-size: 1.5em;
            transition: all 0.2s ease-in;
            div {
              display: flex;
              flex-direction: row;
              justify-content: space-around;
              height: 100%;
              width: 100%;
              div {
                height: 50%;
                margin: auto;
              }
            }
          }
        }
        li:not(:first-child):hover {
          box-shadow: 0 0 9px rgb(200, 200, 200);
          background-color: rgb(50, 50, 50);
          a {
            color: rgb(226, 226, 226);
          }
        }
      }
      ul:hover {
        box-shadow: 0 0 9px rgb(185, 185, 185);
        .CategoryHeader {
          color: rgb(241, 241, 241);
        }
      }
    }
    .AccountPage {
      grid-area: Middle;
      background-color: rgb(30, 30, 30);
      color: rgb(238, 238, 238);
      width: 100%;
      padding-left: 5em;
      padding-right: 5em;
      padding-top: 2em;
      display: grid;
      grid-template-rows: 0.07fr 1fr;
      justify-content: center;
      .AccountPageHeader {
        text-align: center;
        .AccountPageChangesSaved {
          font-size: 1em;
          color: rgb(255, 255, 255);
          margin-bottom: 0.5em;
        }
        .AccountPageEditNav {
          display: flex;
          justify-content: center;
          button {
            margin: 1em;
            display: flex;
            justify-content: center;
            padding: 0.5em;
            align-self: center;
            border: 0;
            border-radius: 10px;
            height: 50%;
            background-color: rgb(75, 75, 75);
            color: rgb(238, 238, 238);
            transition: all 0.2s ease-in;
          }
          button:hover {
            cursor: pointer;
            background-color: rgb(241, 241, 241);
            color: rgb(29, 29, 29);
          }
        }
        .AccountPageEditForm {
          display: flex;
          flex-direction: column;
          margin-bottom: 1em;
          div {
            button {
              margin-top: 1em;
              width: 15%;
              align-self: center;
              border: 0;
              border-radius: 10px;
              font-size: 1.15em;
              background-color: rgb(141, 0, 0);
              color: rgb(238, 238, 238);
              transition: all 0.2s ease-in;
            }
            button:hover {
              cursor: pointer;
              background-color: rgb(207, 10, 10);
              color: rgb(241, 241, 241);
            }
          }
          .AccountPageEditFormContainer {
            form {
              display: flex;
              flex-direction: column;
              text-align: center;
              .LoginPageUserPfpChange {
                img {
                  max-width: 20em;
                }
              }
              .AccountPageEditInputAndErrors {
                height: 5em;
              }
              input {
                width: 20%;
                align-self: center;
                background-color: rgb(75, 75, 75);
                color: rgb(238, 238, 238);
                transition: all 0.2s ease-in;
                border: 0;
                border-radius: 10px;
                height: 1.5em;
                padding-left: 1em;
                padding-right: 1em;
                margin-top: 0.5em;
                margin-bottom: 1em;
              }
              button {
                width: 15%;
                align-self: center;
                border: 0;
                border-radius: 10px;
                height: 1.5em;
                background-color: rgb(75, 75, 75);
                color: rgb(238, 238, 238);
                transition: all 0.2s ease-in;
              }
              input:focus {
                outline: none;
                background-color: rgb(241, 241, 241);
                color: rgb(29, 29, 29);
              }
              input:hover {
                cursor: pointer;
                background-color: rgb(241, 241, 241);
                color: rgb(29, 29, 29);
              }
              button:hover {
                cursor: pointer;
                background-color: rgb(241, 241, 241);
                color: rgb(29, 29, 29);
              }
              button[type="submit"] {
                font-size: 1em;
                width: 15%;
                overflow: hidden;
              }
              input[type="file"],
              input[type="file"]:hover {
                display: none;
              }
              label[for="image"] {
                display: block;
                background-color: rgb(75, 75, 75);
                align-self: center;
                margin-bottom: 0.5em;
                margin-top: 0.5em;
                border-radius: 10px;
                width: 20%;
                height: 1.5em;
                overflow: hidden;
                transition: all 0.2s ease-in;
              }
              label[for="image"]:hover {
                background-color: rgb(241, 241, 241);
                color: rgb(29, 29, 29);
                position: relative;
                margin-bottom: 0.5em;
                cursor: pointer;
                // transition: all 0.2 ease-in;
              }
            }
          }
        }
      }
      .AccountPageData {
        .AccountPageTable {
          .AccountPageImage {
            display: flex;
            justify-content: center;
            img {
              max-width: 30em;
              border-radius: 10px;
            }
          }
          .AccountPageTableBody {
            margin-top: 1em;
            font-size: 1.5em;
            display: flex;
            justify-content: center;
            table {
              tbody {
                tr {
                  display: grid;
                  padding: 0.5em;
                  grid-template-columns: 1fr 1fr;
                  border-radius: 10px;
                  box-shadow: 0 0 7px rgb(120, 120, 120);
                  margin-bottom: 0.75em;
                  th {
                    display: flex;
                    flex-direction: row;
                  }
                  td {
                    display: flex;
                    justify-content: end;
                  }
                }
              }
            }
          }
        }
        .AccountPagePostList {
          .UserPostList {
            list-style: none;
            .UserPostListItem {
              box-shadow: 0 0 7px rgb(120, 120, 120);
              margin: 1em;
              border-radius: 10px;
              transition: all 0.2s ease-in;
            }
            a {
              padding: 1.5em;
              text-decoration: none;
              color: rgb(238, 238, 238);
              display: flex;
              flex-direction: row;
              justify-content: space-between;

              .UserPostListTitle {
                font-size: 1.5em;
              }
              .UserPostListCategory {
                font-size: 1.5em;
              }
            }
            .UserPostListItem:hover {
              box-shadow: 0 0 10px rgb(200, 200, 200);
              color: rgb(244, 244, 244);
              background-color: rgb(44, 44, 44);
            }
          }
        }
      }
    }
    .GoBackFromLogin {
      grid-area: Middle;
      background-color: rgb(30, 30, 30);
      color: rgb(238, 238, 238);
      width: 100%;
      padding-left: 5em;
      padding-right: 5em;
      padding-top: 2em;
      display: flex;
      justify-content: center;
      a {
        text-decoration: none;
        color: rgb(230, 230, 230);
        margin-top: 2em;
        height: fit-content;
        font-size: 4em;
        transition: ease-in 0.3s;
        -webkit-text-stroke: 1px rgb(0, 0, 0);
      }
      a:hover {
        color: rgb(255, 255, 255);
        font-size: 4.5em;
        margin-top: 1.75em;
      }
    }
    .LoginForm {
      grid-area: Middle;
      width: 100%;
      padding-left: 5em;
      padding-right: 5em;
      padding-top: 2em;
      background-color: rgb(30, 30, 30);
      color: rgb(238, 238, 238);
      margin-top: 1em;
      margin-bottom: 1em;
      div {
        text-align: center;
        margin-bottom: 1em;
      }
      form {
        display: flex;
        flex-direction: column;
        text-align: center;
        input {
          width: 20%;
          align-self: center;
          background-color: rgb(75, 75, 75);
          color: rgb(238, 238, 238);
          transition: all 0.2s ease-in;
          border: 0;
          border-radius: 10px;
          height: 1.5em;
          padding-left: 1em;
          padding-right: 1em;
          margin-top: 0.5em;
          margin-bottom: 1em;
        }
        button {
          width: 15%;
          align-self: center;
          border: 0;
          border-radius: 10px;
          height: 1.5em;
          background-color: rgb(75, 75, 75);
          color: rgb(238, 238, 238);
          transition: all 0.2s ease-in;
        }
        input:focus {
          outline: none;
          background-color: rgb(241, 241, 241);
          color: rgb(29, 29, 29);
        }
        input:hover {
          cursor: pointer;
          background-color: rgb(241, 241, 241);
          color: rgb(29, 29, 29);
        }
        button:hover {
          cursor: pointer;
          background-color: rgb(241, 241, 241);
          color: rgb(29, 29, 29);
        }
        button[type="submit"] {
          font-size: 1.25em;
          width: 10%;
          overflow: hidden;
        }
      }
    }
    .FinishedRegister {
      grid-area: Middle;
      background-color: rgb(30, 30, 30);
      color: rgb(238, 238, 238);
      width: 100%;
      padding-left: 5em;
      padding-right: 5em;
      padding-top: 2em;
      display: flex;
      flex-direction: column;
      text-align: center;
      div {
        text-decoration: none;
        color: rgb(230, 230, 230);
        margin-top: 2em;
        height: fit-content;
        font-size: 4em;
        transition: ease-in 0.3s;
        -webkit-text-stroke: 1px rgb(0, 0, 0);
      }
      a {
        text-decoration: none;
        color: rgb(230, 230, 230);
        margin-top: 2em;
        height: fit-content;
        font-size: 4em;
        transition: ease-in 0.3s;
        -webkit-text-stroke: 1px rgb(0, 0, 0);
      }
      a:hover {
        color: rgb(255, 255, 255);
        font-size: 4.5em;
        margin-top: 1.75em;
      }
    }
    .RegisterForm {
      //       RegisterFormTitle
      // RegisterFormContainer
      // RegisterFormElement
      grid-area: Middle;
      width: 100%;
      padding-left: 5em;
      padding-right: 5em;
      padding-top: 2em;
      background-color: rgb(30, 30, 30);
      color: rgb(238, 238, 238);
      .RegisterFormTitle {
        text-align: center;
        font-size: 3em;
      }
      .RegisterFormContainer {
        .RegisterFormElement {
          margin-top: 1em;
          margin-bottom: 1em;
          display: flex;
          flex-direction: column;
          text-align: center;
          .RegisterPageUserPfp {
            img {
              max-width: 20em;
            }
          }
          input {
            width: 20%;
            align-self: center;
            background-color: rgb(75, 75, 75);
            color: rgb(238, 238, 238);
            transition: all 0.2s ease-in;
            border: 0;
            border-radius: 10px;
            height: 1.5em;
            padding-left: 1em;
            padding-right: 1em;
            margin-top: 0.5em;
          }
          .RegisterError {
            margin-bottom: 1em;
          }
          input:focus {
            outline: none;
            background-color: rgb(241, 241, 241);
            color: rgb(29, 29, 29);
          }
          input:hover {
            cursor: pointer;
            background-color: rgb(241, 241, 241);
            color: rgb(29, 29, 29);
          }
          button {
            width: 15%;
            align-self: center;
            border: 0;
            border-radius: 10px;
            height: 1.5em;
            background-color: rgb(75, 75, 75);
            color: rgb(238, 238, 238);
            transition: all 0.2s ease-in;
          }
          button:hover {
            background-color: rgb(241, 241, 241);
            color: rgb(29, 29, 29);
            cursor: pointer;
          }
          input[type="file"],
          input[type="file"]:hover {
            display: none;
          }
          label {
            width: 15%;
            align-self: center;
            margin-top: 1.5em;
            transition: all 0.2 ease-in;
          }
          label[for="image"] {
            display: block;
            background-color: rgb(75, 75, 75);
            position: relative;
            margin-bottom: 0.5em;
            margin-top: 0.5em;
            border-radius: 10px;
            width: 20%;
            height: 1.5em;
            overflow: hidden;
            transition: all 0.2s ease-in;
          }
          label[for="image"]:hover {
            background-color: rgb(241, 241, 241);
            color: rgb(29, 29, 29);
            position: relative;
            margin-bottom: 0.5em;
            cursor: pointer;
            // transition: all 0.2 ease-in;
          }
          label[for="tos"] {
            margin-top: 5em;
          }
          input[type="checkbox"] {
            width: 2%;
            margin-bottom: 0.5em;
          }
          button[type="submit"] {
            font-size: 1.25em;
            width: 10%;
          }
          .RegisterInputAndErrors {
            height: 3em;
          }
        }
      }
    }
  }
}
// rgb(46, 46, 46); dark gray
// rgb(207, 207, 207); light white
// rgb(119, 119, 119); lighter border
//color: rgb(211, 248, 255); h0over
//border: 1px solid rgb(211, 248, 255); hover
#editor-container {
  width: 50%;
  height: 50%;
}
